<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROYAL CAKE SAVOUR</title>
    <link rel="icon" type="image/x-icon" href="/images/ROYAL CAKE savour full brown.png">
    <link href="/stylesheets/dash-style.css" rel="stylesheet">
    
</head>

<body>
    <header>
        <button class="links" onclick="openCake(event, 'home')" id="defaultOpen"><img src="/images/ROYAL CAKE savour full brown.png" style="width:150px"></button>
        <br>Admin Dashboard
    </header>

    <div class="sidebar">
        <div class="header">Admin Dashboard</div>
        <ul>
          <li><button class="button">Dashboard</button></li>
          <li><button class="button">Users</button></li>
          <li><button class="button">Products</button></li>
        </ul>
        
    </div>
</body>
</html>