<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/admin-style.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/images/ROYAL CAKE savour full brown.png">
  <title>ROYAL CAKE SAVOUR</title>
</head>
<body>
    <div id="login" class="tabcontent">
        <div class="container">
            <div class="form-box">
                    <form style="text-align: center;" action="/login" method="POST">
                      <img style="width: 150px;" src="/images/ROYAL CAKE savour full brown.png">
                      <br>
    			            <label for="username">Username:</label><br>
    			            <input type="text" id="username" name="username" required>
                      <br>
                      <label for="password">Password:</label><br>
                      <input type="password" id="password" name="password" required>
                      <br>
                      <button type="submit">Sign In</button>
                    </form>
                    
            </div>
        </div>
    </div>
</body>
</html>